.Casing {
    border: 2px #131313 ridge;
    width: 90%;
    height: 29em;
    margin: 10em auto 7em;
    padding: 3em 0 3em 3em;
    position: relative;
    border-radius: 1em;
    background: linear-gradient(top, #484848 0%, #020202 50%);
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: left;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.options1 {
    font-family: "Aharoni", "Times New Roman", sans-serif;
    text-align: left;
    font-size: 1.5rem;
    padding: 0 0 0 0;
    margin-right: 3em;
    float: left;
}

.options2 {
    width: 15em;
    height: 5em;
    font-family: "Aharoni", "Times New Roman", sans-serif;
    text-align: left;
    font-size: 1.5rem;
    padding: 0 0 1em 1em;
    float: left;
}

.options3 {
    width: auto;
    height: 6em;
    padding: 0 0 1em 1em;
}

.On {
    text-shadow: 0 0 0.2em #74e065, 0 0 0.2em #63c057;
    color: #c6e0bc;
}
.Off {
    text-shadow: 0 0 0 0.2em #58f838;
    color: #245121;
}
label + input[type=radio]:checked {
    text-shadow: 0 0 0.2em #74e065, 0 0 0.2em #63c057;
    color: #c6e0bc;
}

ul .white {
    padding-top: 12em;
    font-size: 1em;
    color: #222424;
    text-shadow: 0 0 0.2em #e0a500, 0 0 0.2em #f4b400;
    font-family: "Calibri", "Times New Roman", sans-serif;
    text-align: center;
    height: 16em;
    width: 4.7%;
    z-index: 1;
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #cacaca;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(252, 252, 252, 0.8) inset, 0 0 5px #c5c5c5 inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(top, #f7f7f7 0%, #eefbf8 100%);
}

ul .white:active {
    border-left: 1px solid #c1c1c1;
    border-bottom: 1px solid #686868;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(181, 195, 181, 0.8) inset, 0 0 5px #6f6f6f inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(top, #ebebeb 0%, #dfebe8 100%);
}

.black {
    padding-top: 4em;
    font-size: 1em;
    color: #bbc6c6;
    text-shadow: 0 0 0.2em #e0a500, 0 0 0.2em #f4b400;
    font-family: "Calibri", "Times New Roman", sans-serif;
    text-align: center;
    height: 8em;
    width: 2.1666666%;
    margin: 0 0 0 -1.18%;
    z-index: 2;
    border: 1px solid #000000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(251, 251, 251, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(top, #5d5d5d 0%, #030303 100%);
}

.black:active {
    vertical-align: center;
    box-shadow: -1px -1px 2px rgba(132, 132, 132, 0.2) inset, 0 -5px 2px 3px rgba(36, 36, 36, 0.6) inset, 0 2px 4px rgba(14, 14, 14, 0.5);
    background: linear-gradient(top, #898989 0%, #484848 100%);
}

.l {
    margin: 0 0 0 -1.18%;
    background: linear-gradient(45deg, #222 0%, #555 100%);
}

input[type=range].slider {
    -webkit-appearance: none;
    width: 40px;
    margin: 5px;
}
input[type=range].slider:focus {
    outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
    width: 40px;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 2.9px #bbb07b, 0px 0px 0px #cdc187;
    background: rgba(72, 77, 77, 0.91);
    border-radius: 0px;
    border: 0px solid #000101;
}
input[type=range].slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 3px #bbb07b, 0px 0px 0px #cdc187;
    border: 0.1px solid #fff18a;
    height: 27px;
    width: 18px;
    border-radius: 6px;
    background: rgba(255, 204, 14, 0.93);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1.5px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: rgba(84, 90, 90, 0.9);
}
input[type=range].slider::-moz-range-track {
    width: 40px;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 2.9px #bbb07b, 0px 0px 0px #c9bd84;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #000101;
}
input[type=range].slider::-moz-range-thumb {
    box-shadow: 0px 0px 3px #bbb07b, 0px 0px 0px #cdc187;
    border: 0.1px solid #fff18a;
    height: 27px;
    width: 18px;
    border-radius: 6px;
    background: rgba(255, 204, 14, 0.93);
    cursor: pointer;
}
input[type=range].slider::-ms-track {
    width: 40px;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].slider::-ms-fill-lower {
    background: rgba(60, 64, 64, 0.91);
    border: 0px solid #000101;
    border-radius: 0px;
    box-shadow: 0px 0px 2.9px #bbb07b, 0px 0px 0px #cdc187;
}
input[type=range].slider::-ms-fill-upper {
    background: rgba(72, 77, 77, 0.91);
    border: 0px solid #000101;
    border-radius: 0px;
    box-shadow: 0px 0px 2.9px #bbb07b, 0px 0px 0px #cdc187;
}
input[type=range].slider::-ms-thumb {
    box-shadow: 0px 0px 3px #bbb07b, 0px 0px 0px #cdc187;
    border: 0.1px solid #fff18a;
    height: 27px;
    width: 18px;
    border-radius: 6px;
    background: rgba(255, 204, 14, 0.93);
    cursor: pointer;
    height: 22px;
}
input[type=range].slider:focus::-ms-fill-lower {
    background: rgba(72, 77, 77, 0.91);
}
input[type=range].slider:focus::-ms-fill-upper {
    background: rgba(84, 90, 90, 0.91);
}

input[type=radio] {
    margin: 2em;
}

.btn{
    border: 1px solid #222424;
    background: linear-gradient(top, #484848 0%, #020202 20%);
    display: inline-block;
    padding: 10px;
    position: relative;
    border-radius: 0;
    transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
    display: none;
}
input[type="radio"].toggle + label {
    width: 4.8em;
    height: 1.6em;
    font-family: "Aharoni", "Times New Roman", sans-serif;
    text-align: left;
    font-size: 1.5rem;
    text-shadow: 0 0 0 0.2em #58f838;
    color: #245121;
    padding: 0 0 1em 1em;
    cursor: pointer;
}
input[type="radio"].toggle:hover{
     background: none;
 }
input[type="radio"].toggle:after{
     content: "";
     height: 100%;
     position: absolute;
     top: 0;
     transition: left 50ms cubic-bezier(0.77, 0, 0.175, 1);
     width: 100%;
     z-index: -1;
 }

input[type="radio"].toggle.toggle-left + label {
    border-right: 0;
}
input[type="radio"].toggle:after {
     left: 100%
 }

input[type="radio"].toggle.toggle-right + label {
    margin-left: -5px;
}
input[type="radio"].toggle:after{
     left: -100%;
 }

input[type="radio"].toggle:checked + label {
    cursor: default;
    text-shadow: 0 0 0.2em #74e065, 0 0 0.2em #63c057;
    color: #c6e0bc;
    transition: color 50ms;
}
input[type="radio"].toggle:after{
     left: 0;
 }

div.Name {
    width: 4em;
    height: 1.7em;
    font-family: "Aharoni", "Times New Roman", sans-serif;
    font-size: 1.7em;
    text-align: center;
    text-shadow:  0 0 0.2em #dfdfdf, 0 0 0.2em #a0a0a0;
    color: #ffffff;
    margin: 0.9em 0 1em 1em;
    float: left;
    border: 1px solid #222424;
    background: linear-gradient(top, #484848 0%, #020202 20%);
}

div.On {
    width: 3em;
    height: 1.7em;
    box-shadow:  0 0 0.2em #74e065, 0 0 0.2em #63c057;
    background: #c6e0bc;
    margin: 1.8em 0 3em 1em;
    float: left;
}

div.Off {
    width: 3em;
    height: 1.7em;
    border: 1px solid #222424;
    box-shadow: none;
    background: #245121;
    margin: 1.8em 0 3em 1em;
    float: left;
}